.rankingContainer
{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-black-overlay) !important;
    cursor: default !important;
    width: 1000px;
    height: 500px;

}

.rankContainer
{
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey);
    height: 100%;
    width: 100%;
    gap: 0px !important;
}

.rank {
    min-height: 75px;
    background-color: var(--background-black-overlay);
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Ajustez les proportions si nécessaire */
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}