.frame {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 100px;
    height: 700px;
    flex: 1 2 auto;
}